{% extends 'admin/dashboard.twig' %}

{% block title %} Edit Course {% endblock %}

{% block css %}
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" rel="stylesheet">
{% endblock %}
{% block content %}
    {% include 'templates/flash/flash.twig' %}
    <div class="box box-primary">
        <form role="form" method="POST" enctype="multipart/form-data" action="">
            <div class="box-body">
                <div class="col-xs-9">
                    <div class="form-group has-feedback {{ errors.title ? 'has-error': '' }}">
                        <label for="title">Title:</label>
                        <input type="text" class="form-control" name="title" value="{{course.course.title}}">
                        {% if errors.title %}
                            <span class="help-block">{{ errors.title | first }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group has-feedback {{ errors.category ? 'has-error': '' }}">
                        <label for="category">Category</label>
                        {% set cat = [] %}
                        {% set num = 0 %}
                        {% for key, category in course.category %}
                        {% set numc = num + 1 %}
                            {% set cat = cat|merge([{ (numc): category.name}]) %}
                        {% endfor %}

                        {% set cct = [] %}
                        {% for key, cacat in course.course.category %}
                        {% set numcct = num + 1 %}
                            {% set cct = cct|merge([{ (numcct): cacat}]) %}
                        {% endfor %}    

                        <select id="category" name="category[]" multiple="multiple"  class="form-control">
                            {% for key, item in cat %}
                                {% if item in cct %}
                                    <option value="{{item|first}}" selected >{{item|first}}</option>
                                {% else %}
                                    <option value="{{item|first}}">{{item|first}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        {% if errors.category %}
                            <span class="help-block">{{ errors.category | first }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group has-feedback {{ errors.url_source_code ? 'has-error': '' }}">
                        <label for="url_source_code">Url Source Code:</label>
                        <input type="text" class="form-control" name="url_source_code" value="{{course.course.url_source_code}}">
                        {% if errors.url_source_code %}
                            <span class="help-block">{{ errors.url_source_code | first }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group has-feedback {{ errors.description ? 'has-error': '' }}">
                        <textarea name="description" id="summernote">
                        {{course.course.description|raw}}
                        </textarea>
                        {% if errors.description %}
                            <span class="help-block">{{ errors.description | first }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-3 ">
                    <label>Cover</label>
                    <img src="{{ base_url() }}/upload/images/{{course.course.cover}}" alt="Cover Image" class="image_preview" id="image">
                    <label class="button-change-avatar mt-3 position-relative width-full btn btn-default">
                        Image Cover
                        <input type="file" class="form-control manual-file-chooser height-full width-full ml-0" id="file" name="cover">
                    </label>
                </div>
            </div>
            <div class="box-footer">
                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="checkbox" name="type" data-toggle="toggle"
                        {% if course.course.type == 0 %}
                         data-on="<i class='fa fa-star'></i> Premium"
                         data-off="<i class='fa fa-check'></i> Free"
                        {% else %}
                         data-on="<i class='fa fa-star'></i> Premium"
                         data-off="<i class='fa fa-check'></i> Free"
                        {% endif %}
                        >
                    </div>
                    <button class="btn btn-primary">Update</button>
                </div>
            </div>
        </form>
{% endblock %}

{% block script %}
    {% include 'admin/partials/script.twig' %}

    <script>
    $(document).ready(function (e) {
        $(function() {
            $("#file").change(function() {
                var file = this.files[0];
                var imagefile = file.type;
                var match= ["image/jpeg","image/png","image/jpg", "image/gif"];
                if((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2]) || (imagefile==match[3])) {
                    var reader = new FileReader();
                    reader.onload = imageIsLoaded;
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
        function imageIsLoaded(e) {
            $('#image').attr('src', e.target.result);
        };
    });
    </script>
{% endblock %}